*, body, html {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

header {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
}

header li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0 0.5vw;
}

header a {
    color: white;
    text-decoration: none;
}

header h2 {
    color: white;
    font-family: "Freckle Face", system ui;
    width: 2vw;
    height: 4vh;
}

main {
    width: 100vw;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.2)), url("swauv0e.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;            /* enables Flexbox */
    flex-direction: column;   /* stack children vertically */
    justify-content: center;  /* center vertically */
    align-items: center;      /* center horizontally */
}

p {
    color: white;
    font: bold;
}

.outline {
    border: solid 10px orange;
    text-align: center;
    width: 60%;     /* take up most of screen width */
    height: 40vh;
    margin: 0 0 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.outline h1 {
    color: orange;
    font-family: "Freckle Face", system-ui;
    font-size: 10vw; /* 10% of viewport width */
    line-height: 1;  /* avoid extra vertical spacing */
}

.social-media-bar {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
}

.social-media-bar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.social-media-icons {
    width: 2vw;
    height: auto;
    max-height: 4vh;
}

.social-media-icons:hover {
    cursor: pointer;
}

.iframe {
    position: fixed;   /* stays in place even when scrolling */
    bottom: 2vh;         /* stick to bottom edge */
    left: 2vw;           /* stick to left edge */
    width: 20vw;      /* adjust size as needed */
    height: 18vh;
    border: none;      /* remove default border */
    z-index: 1000;     /* make sure it sits above other elements */

}
